<html>
<title>Drawing board</title>
<head>
  <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap" rel="stylesheet"> 
</head>
<style>
  #eraser{
    margin-bottom:35% ;
  }
  .sidenav{
    padding:1%;
  }
  ul:not(.browser-default) {
    padding-left: 1%;
    list-style-type: none;
}
  #chatsec{
    width:auto;
    height: 30%;

 
  }
  #sending{
   
    display: inline-block;
    
  }
  #sendput{
    width: 60%;
  }
  .chat-item{
    background-color: white;
    padding:5% !important;
    margin:1%;

  }
  #chatbox{
    background-color: rgb(56, 56, 77);
    padding:1%;
    height:100%;
    width: auto;
    overflow-y: scroll;
  }
  #ac{
    margin-right: 90%;
  }
.row .col{
    padding:0px;
    width: 100%;
    min-height:100% ;
    margin: 0%;
    padding:0%;
}
#canvas_space{
    padding :0px;
    margin: 0%;
  
}
#screen{
    margin-bottom: 7%;
}
#brush_size{
    margin-bottom: 14%;
}
#save{
    margin-bottom: 21%;
}
#brush_shape{
    margin-bottom: 28%;
}
i {
  color: black;

}
.colorpurple{
  background-color: rgb(56, 56, 77)
}
.nav{
  display: inline-block !important;
}
</style>
<body>


  <ul id="slide-out" class="sidenav">
    <li>
      <div id="user">
      </div>
    </li>
    <li ><a id="logout" href="/logout">Log out</a></li>
  <li><a>Group Chat</a></li>
    <li>
    <div id="chatsec" >


  <div id="chatbox"> </div>
  <div id="sending">
  <input type="text" id="sendput">
  <button class="waves-effect btn colorpurple" onclick="sendchat()">Send</button> 
    </div>
</div>
  </li>
  <br>

</ul>
 


 
       <div class=" center" id="canvas_space">
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
            <input type="text" id="drawtext">
          </div>
          <div class="modal-footer">
            <a href="#!" class=" waves-effect waves-green btn-flat" onclick="updatetext()">Draw on click</a>
            <a href="#" class="modal-close">close</a>
          </div>
        </div>
         <canvas id="canvas"></canvas>
 
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large colorpurple">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li id="red_pen"><a class="btn-floating red" onclick="change_color('red',1)" ></a></li>
          <li><a class="btn-floating yellow darken-1" onclick="change_color('yellow',1)"></a></li>
          <li><a class="btn-floating green" onclick="change_color('green',1)"></a></li>
          <li><a class="btn-floating blue" onclick="change_color('blue',1)"></a></li>
          <li><a class="btn-floating white" onclick="change_color('white',1)"></a></li>
          <li><a class="btn-floating black" onclick="change_color('black',1)"></a></li>
         </ul>
      </div>
       
   </div>
   <div class="fixed-action-btn" id="screen">
    <a class="btn-floating btn-large colorpurple">
      <i class="large material-icons">developer_board</i>
    </a>
    <ul>
      <li id="red_pen"><a class="btn-floating red" onclick="change_board_color('red',1)" ></a></li>
      <li><a class="btn-floating yellow darken-1" onclick="change_board_color('yellow',1)"></a></li>
      <li><a class="btn-floating green" onclick="change_board_color('green',1)"></a></li>
      <li><a class="btn-floating blue" onclick="change_board_color('blue',1)"></a></li>
      <li><a class="btn-floating white" onclick="change_board_color('white',1)"></a></li>
      <li><a class="btn-floating black" onclick="change_board_color('black',1)"></a></li>
     </ul>
  </div>
  <div class="fixed-action-btn" id="brush_size">
    <a class="btn-floating btn-large colorpurple">
      <i class="large material-icons">line_weight</i>
    </a>
    <ul>
      <li id="red_pen"><a class="btn-floating colorpurple center" onclick="change_brush_size(1,1)" >1 px</a></li>
      <li><a class="btn-floating colorpurple darken-1 center" onclick="change_brush_size(2,1)">2 px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="change_brush_size(3,1)">3 px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="change_brush_size(4,1)">4px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="change_brush_size(5,1)">5 px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="change_brush_size(6,1)">6px</a></li>
     </ul>
  </div>
  <div class="fixed-action-btn" id="eraser">
    <a class="btn-floating btn-large colorpurple">
      <i class="large material-icons">backspace</i>
    </a>
    <ul>
      <li id="red_pen"><a class="btn-floating colorpurple center" onclick="eraser(1,1)" >1 px</a></li>
      <li><a class="btn-floating colorpurple darken-1 center" onclick="eraser(2,1)">2 px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="eraser(3,1)">3 px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="eraser(4,1)">4px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="eraser(5,1)">5 px</a></li>
      <li><a class="btn-floating colorpurple center" onclick="eraser(6,1)">6px</a></li>
     </ul>
  </div>
  <div class="fixed-action-btn" id="save">
    <a class="btn-floating btn-large colorpurple" id="saver" onclick="save_image()">
      <i class="large material-icons">save_alt</i>
    </a>
   
  </div>

  <div class="fixed-action-btn" id="brush_shape">
    <a class="btn-floating btn-large colorpurple">
      <i class="large material-icons">format_shapes</i>
    </a>
    <ul>
      <li id="red_pen"><a class="btn-floating colorpurple" onclick="change_to_rect(1)" ><i class="large material-icons">crop_16_9</i></a></li>
      <li><a class="btn-floating colorpurple darken-1" onclick="change_to_circle(1)"><i class="large material-icons">radio_button_unchecked</i></a></li>
      <li><a class="btn-floating colorpurple" onclick="change_to_pen(1)"><i class="large material-icons">mode_edit</i></a></li>
     <li><a class="btn-floating colorpurple modal-trigger" href="#modal1"  onclick="settext(0)"><i class="large material-icons">text_format</i></a></li>
    </ul>
  </div>
  <div class="fixed-action-btn" id="ac">
  
      <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large colorpurple"><i class="material-icons">chat</i></a>
  </div>
 
  
   
 
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="board.js"></script>


</html>