html {
   scroll-behavior: smooth;
 }
#intro_box{
    height: 620px;
}
#fbox{
   height: 660px;
   margin:0;
}
#whatbox{
   height: 620px;
}
#logotext{
   font-family: 'Muli',sans-serif;
   font-weight: 900 !important;
   font-size: large;
   margin-bottom: 50% !important;
   color: white;
}
.menu_items{
   margin-right: 20px;
   margin-left: 20px;
   color: black;
   font-weight: 400;
   font-family: 'Raleway',sans-serif;

}
.col{
   margin-top: 3%;
   margin-bottom: 4%;
}
.nav-wrapper{
   padding-right: 8%;
}
.card-content{
   padding-right: 20% !important;

}

.card-tabs{
   padding-top: 5%;
}
#lets{

   font-family: 'Advent Pro', sans-serif;
   font-size:100px;
   margin-left: 20%;
}

#collaborate{
font-family: 'Advent Pro', sans-serif;
   font-size:100px;
color: white;
margin-left: 20%;

}
.leftbox{
margin-top:10%;
line-height: 94px;
}

.hidetab{
  display:none;
   
}

#main_ill{
   height: 200px;
   margin-top: 60%;
  
}
#feat{
   color: rgb(56, 56, 77)
}

.input-field input[type=text]:focus{
   color:yellow;
   border-bottom-color: yellow;
} 
#login_button{
  margin-left: 30%;
  margin-bottom: 24%;
  margin-top: 10%;
}
#register_button{
  margin-left: 30%;
  margin-bottom: 24%;
  margin-top: 10%;
}
.btn{
   background-color:black;

}
#forgot{
   text-decoration-line: underline;
   margin-left: 24%;
   color:rgb(37, 37, 37);
}
#already{
   text-decoration-line: underline;
   margin-left: 22%;
   color:rgb(37, 37, 37);
}

.btn{
   min-width: 100px;
}
.img1{
   height: 50%;
   margin-left: 30%;
   margin-top: 20%;
}
#login_button{
    color: white;
}
input-field label {
   color: #000;
  
 }
 .input-field input:focus + label {
   color: rgb(0, 0, 0) !important;
 }
 .input-field input[type=text]:focus,input[type=password]:focus {
   border-bottom: 1px solid rgb(0, 0, 0) !important;
   box-shadow: 0 1px 0 0 rgb(0, 0, 0) !important;
   color: #000;
  
 }
 .input{
    height: 2rem !important;
 }
 
 .btn:hover{
    background-color: rgb(56, 56, 77) !important;
 }
 .input-field .prefix{
  color: rgb(56, 56, 77) !important;
 }
 .subhead{
    margin-top: 10%;
   font-family: 'Muli',sans-serif;
   font-weight: 900 !important;
   margin-left: 20%;
   font-weight: 800;
 }
 .subpoint{
   font-family: 'Muli',sans-serif;
  font-size: 120%;
   margin-left: 20%;
 }
.page-footer{
   background-color: rgb(56, 56, 77) !important;
   padding: 0.2px;
   font-family: 'Muli',sans-serif;
   font-weight: 800;
}

     
#heart{
   font-size: 200%;
  
}